<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,123},{149,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,27}}</string>
                <key>sourceSize</key>
                <string>{149,27}</string>
            </dict>
            <key>boss-progress-fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,152},{136,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,15}}</string>
                <key>sourceSize</key>
                <string>{136,15}</string>
            </dict>
            <key>continue-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,304},{101,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>continue-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,303},{103,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>gameover-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{404,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,119}}</string>
                <key>sourceSize</key>
                <string>{404,119}</string>
            </dict>
            <key>go.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,123},{291,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,81}}</string>
                <key>sourceSize</key>
                <string>{291,81}</string>
            </dict>
            <key>golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,485},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>home-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,404},{99,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{99,95}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>home-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,303},{103,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{103,97}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>pause-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{522,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,338}}</string>
                <key>sourceSize</key>
                <string>{522,338}</string>
            </dict>
            <key>pause1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,485},{81,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,78}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>pause2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,403},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>player-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,206},{259,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,61}}</string>
                <key>sourceSize</key>
                <string>{259,61}</string>
            </dict>
            <key>player-progress-fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,269},{227,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,32}}</string>
                <key>sourceSize</key>
                <string>{227,32}</string>
            </dict>
            <key>retry-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,390},{95,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{95,93}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>retry-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,402},{99,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{103,99}</string>
            </dict>
            <key>skill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,298},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,206},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>small-enemy-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,169},{119,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,21}}</string>
                <key>sourceSize</key>
                <string>{119,21}</string>
            </dict>
            <key>small-enemy-progress-fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,192},{109,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,12}}</string>
                <key>sourceSize</key>
                <string>{109,12}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,206},{107,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,96}}</string>
                <key>sourceSize</key>
                <string>{107,96}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{558,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{558,181}}</string>
                <key>sourceSize</key>
                <string>{570,185}</string>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,185}}</string>
                <key>sourceSize</key>
                <string>{570,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dffc0d19fd6a042865667008e5491487:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
